* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1912px;
}

/* Header and Footer */
.footer,
.header {
  display: flex;
  background-color: #1f2937;
  padding: 18px 200px;
  align-items: center;
}

.header {
  justify-content: space-between;
  color: #f9faf8;
}

.footer {
  justify-content: center;
  color: #E5E7Eb;
  font-size: 18px;;
}

.header-text {
  font-size: 24px;;
}

.header-links {
  display: flex;
  gap: 16px;
  font-size: 18px;
  color: #E5E7EB;
}

/* Section One */
