* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1912px;
}

.section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0 25%;
}

button {
  padding: 8px 16px;
  width: 130px;
  height: 40px;
  border-radius: 8px;;
}

/* Header and Footer */

.footer,
.header {
  display: flex;
  background-color: #1f2937;
  padding: 18px 25%;
  align-items: center;
}

.header {
  justify-content: space-between;
  color: #f9faf8;
}

.footer {
  justify-content: center;
  color: #E5E7Eb;
  font-size: 18px;;
}

.header-text {
  font-size: 24px;;
}

.header-links {
  display: flex;
  gap: 16px;
  font-size: 18px;
  color: #E5E7EB;
}

/* Section One */

.section.one {
  background-color: #1f2937;
}

.section-one-holder {
  display: flex;
  flex: 1;
  height: 250px;
  gap: 18px;
}

.section-one-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.placeholder-one {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  background-color: grey;
}

.first-button {
  background-color: #3882F6;
  color: white;
  border: none;
}

/* Section Two */

.section.two {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section-two-title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.box-text {
  color: gray;
  text-align: center;;
}

.section-two-content {
  display: flex;
  gap: 32px;
}

.box-section {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-wrap: wrap;
}

.box {
  width: 150px;
  height: 150px;
  border: #3882F6 3px solid;
  border-radius: 10px;;
}

/* Section Three */

.section.three {
  background-color: #E5E7EB;
}

.quote-holder {
  display: flex;
  flex-direction: column;
  /* width: 90%;
  height: 50%; */
}

.quote {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
}

.quote-sayer {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 900;
}

/* Section Four */

.blue-box {
  background-color: #3882F6;
  flex: 1;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.blue-title {
  color: white;
  font-size: 24px;
}

.blue-text {
  color: #E5E7EB;
}

.second-button {
  background-color: #3882F6;
  color: white;
  border-color: white;
}
